
/* BEST SELLER SECTION */
.BS-section{
  display: flex;
}


/* BS LEFT SIDE */
.BS-left{
  width: 50%;
  height: 100vh;
  height: 100dvh;
}

.BS-left .heading {
  color: #f0f0f0;
  font-size: 2.8em;
  font-weight: 600;
  width: 100%;

  position: relative;
  left: 40%;
  top: 20%;
}

.BS-left .subtext{
  color: #969696;
  font-size: 1em;
  font-weight: 400;
  width: 100%;

  position: relative;
  left: 40%;
  top: 20%;
}

.BS{
  width: 88%;
  
  position: relative;
  left: 30%;
  top: 30%;
}




/*BS RIGHT SIDE */
.BS-right{
  background-color: #222222;
  width: 50%;
  height: 100vh;
  height: 100dvh;
  margin: 0;
}


.BS-right .text{
  color: #969696;
  font-size: 1em;
  font-weight: 400;
  width: 40%;

  position: relative;
  left: 35%;
  top: 55%;
}

/* DISCOVER MORE BUTTON */
.discover-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f0f0f0;

  font-size: 0.8em;
  font-weight: 100;
  text-transform: uppercase;

  position: relative;
  left: 55%;
  top: 57%;
}

.discover-btn:hover{
  color: #ffbc00;
}

