

/* HERO 2 */
/* LEFT SECTION */
.hero2-container{
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  margin-top:15vh;
}

.hero2-container .left-section{
  width: 58.5%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}


/*HERO 2 LEFT SECTION TEXT */
.hero{
  height: 100%;
  width: 100%;
  
  transition: .6s ease-in-out;
}

.hero:hover{
  scale: 1.3;
}

.hero2-container .text-container{
  width: 80%;
  height: 50vh;
  height: 50dvh;

  position: relative;
  bottom: 94%;
  left: 5%;
}

.hero2-container .left-section .heading{
  color: #f0f0f0;
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
}

.hero2-container .left-section .subtext{
  color: #969696;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
}






/* RIGHT SECTION */
.hero2-container .right-section{
  width: 41.5%;
  height: 100vh;
  height: 100dvh;
}

.row1, .row2, .row3{
  color: black;
  height: 33.33%;
  display: flex;
  background-color: #f0f0f0;
}

hr{
  color: #b4b3b3;
  background-color: #b4b3b3;
  border: none;
  width: 25px;
  height: 3px;
}


/* ROW 1 */
.row1-left{
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row1-right{
  width: 50%;
}

.row1-img{
  width: 100%;
  height: 100%;

  
  border-radius: 1px;
}



/* ROW 2 */
.row2-left{
  width: 50%;
}

.row2-img{
  width: 100%;
  height: 100%;

  margin-right: -2vw;
  border-radius: 1px;
}

.row2-right{
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* ROW 3 */
.row3-left{
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row3-right{
  width: 50%;
}

.row3-img{
  width: 100%;
  height: 100.05%;

  border-radius: 1px;
}


/* HERO 2 TEXT */
.hero2-container .heading{
  font-size: 1.5em;
  font-weight: 500;
}

.hero2-container .right-section .subtext{
  color: black;
  font-size: 1.3em;
  font-style: italic ;
  font-family: 'Saira';
  font-weight: 200;
}



