nav{
    width: 100%;
    height: 7.5vh;
    margin: 0;
    padding: 0;
    background-color: #030303;
    color: #f0f0f0;

    display: flex;
    flex-direction: row;

    font-family: Roboto;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.px;
}


/* LEFT SECTION OF THE NAVBAR */
.left{
    width: 75%;
}


/* RIGHT SECTION OF THE NAVBAR */
.right{
    width: 25%;
    margin-right: 1.3vw;
    display: flex;
}


/* LOGO */
.logo-container{
    display: flex;
}

.logo{
    height: 5vh;
    margin-left: 3vw;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.logo:hover{
    height: 5.2vh;
    transition: .3s ease-in-out;
}


/* PRODUCTS */
.products-container{
    -background-color: bisque;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* CART */
.cart-container{
    -background-color: pink;
    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart{
    height: 2.5vh;
    padding: 0 .5vw 0 0vw;
    margin-top: 10px;
}

.cart-container a{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SIGNUP */
.signup-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ANCHOR TAG */
.right a{
    text-decoration: none;
    color: #f0f0f0;
}

.right a:hover{
    border-bottom: 2px solid #f0f0f0;
}


/* NAVBAR TEXT UNDERLINE MARGIN */
p{
    margin-bottom: 5px;
}
